<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="form-group">
    <form action="https://ghostorthosis.us17.list-manage.com/subscribe/post?u=11a6abff3a33eda9ffcd230e4&amp;id=2fce4f7194" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <h3>Subscribe to our mailing list</h3>
            <!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
            <div class="mc-field-group form-group row">
                <label for="mce-EMAIL" class="col-sm-2 col-form-label">Email Address  <span class="asterisk">*</span></label>
                <div class="col-sm-5"> 
                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="name@example.com">
                </div>

                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_11a6abff3a33eda9ffcd230e4_2fce4f7194" tabindex="-1" value=""></div>
                <div class="col-sm-2"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></div>
            </div>
        </div>
    </form>
</div>

<!--End mc_embed_signup-->